@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="px-5">
    <h1>@ViewData["Title"]</h1>
    <p class="text-success" >
        Please check your email to reset your password.
    </p>
</div>
