@model int 
<div class="px-5">
    <div class="container row pt-4">
        <div class="col-12 text-center">
            <h1 class="text-primary text-center">Order Placed successfully!</h1>
            Your Order Numper IS : @Model
            <br/>
            <br/>
            <img src="~/images/lawn_leaf.jpg" width="65%" />
        </div>
        <div class="col-12 text-center text-bg-success">
            Your order has been placed successfully!
        </div>
    </div>
</div>
