@model ProductVM
<div class="card border-0 shadow my-5 bg-dark-mode text-white-50 ">
    <div class="card-header bg-gradient  py-3 ms-0" style="background-color:darkturquoise">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class=" text-white py-2">@(Model.product.Id!=0?"Update":"Create") Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        <input asp-for="product.Id" hidden />
                        
                        <div class=" form-floating py-3 col-12">
                            <label asp-for="product.Title" class="ms-0"></label>
                            <input asp-for="product.Title" class="form-control border-0 shadow bg-dark-mode text-white" />
                            <span class="text-danger" asp-validation-for="product.Title"></span>
                        </div>
                        <div class="py-3 col-12 bg-dark-mode text-white">
                            <label asp-for="product.Description" class="ms-0 text-muted "></label>
                            <textarea asp-for="product.Description" class="form-control border-0 shadow bg-dark-mode text-white"></textarea>
                        </div>
                        <div class="form-floating py-3 col-12">
                            <label asp-for="product.Quantity" class="ms-0 "></label>
                            <input asp-for="product.Quantity" class="form-control border-0 shadow bg-dark-mode text-white" />
                            <span class="text-danger" asp-validation-for="product.Quantity"></span>
                        </div>
                        <div class="form-floating py-3 col-12">
                            <label asp-for="product.Brand" class="ms-0 "></label>
                            <input asp-for="product.Brand" class="form-control border-0 shadow bg-dark-mode text-white" />
                            <span class="text-danger" asp-validation-for="product.Brand"></span>
                        </div>
                        <div class="form-floating py-3 col-12">
                            <label asp-for="product.ListPrice" class="ms-0 "></label>
                            <input asp-for="product.ListPrice" class="form-control border-0 shadow bg-dark-mode text-white" />
                            <span class="text-danger" asp-validation-for="product.ListPrice"></span>
                        </div>
                        <div class="form-floating py-3 col-12">
                            <label asp-for="product.Price" class="ms-0 "></label>
                            <input asp-for="product.Price" class="form-control border-0 shadow bg-dark-mode text-white" />
                            <span class="text-danger" asp-validation-for="product.Price"></span>
                        </div>
                        <div class="form-floating py-3 col-12">
                            <label asp-for="product.Price50" class="ms-0 "></label>
                            <input asp-for="product.Price50" class="form-control border-0 shadow bg-dark-mode text-white" />
                            <span class="text-danger" asp-validation-for="product.Price50"></span>
                        </div>
                        <div class="form-floating py-3 col-12">
                            <label asp-for="product.Price100" class="ms-0 "></label>
                            <input asp-for="product.Price100" class="form-control border-0 shadow bg-dark-mode text-white" />
                            <span class="text-danger" asp-validation-for="product.Price100"></span>
                        </div>
                        <div class="form-floating py-3 col-12">
                            <label asp-for="product.CategoryId" class="ms-0 "></label>
                            <select asp-for="product.CategoryId" asp-items="@Model.CategoryList" class=" form-select border-0 shadow bg-dark-mode text-white">
                                <option disabled selected>--Select Category--</option>
                            </select>
                        </div>
                        <div class="form-floating py-3 col-12 bg-dark-mode ">
                            <label asp-for="product.ProductImages" class="ms-0 "></label>
                            <input type="file" name="files" class="form-control bg-dark-mode custom-file-dark border-0 shadow" multiple />
                        </div>

                        <div class="row mt-3">
                            <div class="col-6 col-md-3">
                                @if (Model.product.Id != 0)
                                {
                                    <input type="submit" value="Update Product" class="btn btn-warning form-control" />
                                }
                                else
                                {
                                    <input type="submit" value="Create Product" class="btn btn-warning form-control" />
                                }

                            </div>
                            <div class="col-6 col-md-3">
                                <a class="btn btn-outline-light form-control" asp-area="Admin" asp-controller="Product" asp-action="Index">Back to home</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    @if (Model.product.ProductImages!=null){

                        foreach (var image in Model.product.ProductImages){
                            <div class=" border p-1 m-2 text-center">
                                <img src="@image.ImageUrl"  width="100%" style="border-radius:5px; border:1px solid #bbb9b9;"/>
                                <a asp-action="DeleteImage" asp-route-imageId="@image.Id" class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                    Delete
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [                
                 'charmap', 'codesample', 'emoticons', 'lists', 'visualblocks', 'wordcount',
                ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent',
            skin: 'oxide-dark',
            content_css: 'dark',
             });
    </script>
}