@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}
<div class="px-5"> 
    
    <h1 class="text-center text-primary">Manage your account</h1>

    <div>
        <h2 class="text-center text-muted ">Change your account settings</h2>
        <hr />
        <div class="row">
            <div class="col-md-3 mb-2">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9 pb-5 myb-5 mt-2 ">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
